__pycache__/
*.py[cod]
*$py.class

cache/
*.log
*.csv
*.dat
*.out
*.pid
*.tar.gz

.env
venv/
*.wheel
*.egg-info/

test/
*.pyc

.git/
.gitignore

.idea/
*.swp
*.swo
*.sublime-workspace

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

LICENSE
README.md
.docker-hub.yml
.pre-commit-config.yaml
