[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "# To implement"
lint = "# To implement"
